*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Franie";
    src: url(./assets/Font/Web/WOFF/Franie-Regular.woff);
}

@font-face {
    font-family: "Satoshi";
    src: url(./assets/Font/SatoshiFonts/WEB/fonts/Satoshi-Regular.woff);
}

:root{
    --base-body-color: #100D1B;
    --text-color: #FFFFFF;
    --btn-primary-purple-gradient: linear-gradient(to right,#4523B0,#6E8EFF);
    --bg-circle-gradient: linear-gradient(to bottom,#7D6EB1,rgb(124, 109, 176));
}

body{
    background-color: var(--base-body-color);
    font-family: "Satoshi", sans-serif;
    color: var(--text-color);
    display: flex;
    justify-content: center;
    position: relative;
}

body::after {
    content: "";
    background: url(./assets/Images/night-skys.jpg);
    background-size: cover;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}



#root{
    width: 100%;
    max-width: 1200px;

}
.btn{
    padding: 1rem 1rem;
    border-radius: 1.5rem;
}
.btn-primary{
    background: var(--btn-primary-purple-gradient) ;
}
/*Header Section*/
header{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
    margin-top: 2rem;
    margin-bottom: 6.25rem;
}

.nav-list ul{
    display: flex;
    gap: 3rem;
    list-style: none;
}
.nav-list a{
    color: var(--text-color);
    text-decoration: none;
}

/*Main Section*/
main{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.movie__media{
    position: relative;
    transform: translateY(-7rem);
    z-index: 4;
}
.movie__name{
    position: relative;
}
.movie__name-text{
    font-size: 200px;
    display: flex;
    justify-content: center;
    font-family: "Franie", sans-serif;
    font-weight: 300;
}
.movie__name-text{
    position: relative;
    z-index: 4;
}

.movie__name__magic{
    position: absolute;
    top: -5.8rem;
    right: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tilted,
.undo-tilt,
.brush__icon,
.brush__move_right,
.plot,
.plot::after{
    transition: all .3s;
}
.tilted{
    transform: rotate(10deg);
}
.undo-tilt{
    transform: rotate(0deg);
}

.circle_shadow{
    background: rgba(0, 0, 0, 0.9);
    width: 2.7rem;
    height: 1.45rem;
    border-radius: 50%;
    filter: blur(4px);
    transform: translateY(-4.5rem);
    box-shadow: 2px 5px 10px 2px rgba(0, 0, 0, 0.5) ;
    position: relative;
    z-index: 4;
}

.movie__media-video,.movie__media-photo{
    display: flex;
    justify-content: center;
    position: relative;
}

.movie__media-photo{  
    z-index: 5;
}

.photo__wrapper{
    position: relative;
}

.movie__media-video{
    position: absolute;
    bottom: 0;
    left: 0;
}
.video-container{
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    aspect-ratio: 2;
    width: 100%; 
    height: 50%;
    max-width: 600px;
    overflow: hidden;
    z-index: 4;
    background: rgba(99, 88, 139, 0.8);
    box-shadow: 2px -120px 500px 20px rgba(99, 88, 139, 0.8) ;
    filter: blur(1px);
}
.movie__media-video .video-container video{
    width: 100%;
}

.plot{
    max-width: 400px;
    position: absolute;
    top: -48%;
    right: -50%;
    padding: 2rem 1.25rem;
    z-index: 6;
}
/* Using after pseudo class so the contained text won't be frosted */
.plot::after{
    position: absolute;
    content: "";
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Pinkish tint FF8C9D */
    box-shadow: 2px -120px 500px 20px rgba(99, 88, 139, 0.4) ;
    background: linear-gradient(to right, rgba(108, 89, 163, 0.7), rgba(255, 255, 255, 0.2)) ;
    border-radius: 12px;
    z-index: -1;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.shadow.plot::after {
    box-shadow: 2px -120px 500px 20px rgba(99, 88, 139, 0.8) ;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    .plot::after{ 
        filter: blur(1px);
        backdrop-filter: blur(3px);
        -webkit-backdrop-filter: blur(3px);
    }
}

.plot p{
    line-height: 1.85rem;
}
.plot p:not(:last-child){
    margin-bottom: 1rem;
    color: rgba(255, 255, 255, 0.75);
}

.play__controls{
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.play__icon, .play__controls p {
    cursor: pointer;
    /* cursor: url(./assets/GIFS/brush.gif), url(./assets/GIFS/brush.png), pointer; */

}
.play__icon{
    height: 56px;
    width: 56px;
    background: url(./assets/Images/play_btn.png);
    border: none;
}

.brush__icon{
    position: absolute;
    left: 20%;
    bottom: -20%;
    opacity: 1;
}
.brush__move_right{
    transform: translateX(2rem);
    opacity: 0;
}

.btn-magic-eye {
    position: fixed;
    bottom: 4rem;
    right: 3rem;
    padding: 3px 15px;
    border: 4px;
    font-size: 30px;
    display: flex;
    place-items: center;
    height: 72px;
    width: 72px;
    border: none;
    background: transparent;
    cursor: pointer;
    color: #fff;
    z-index: 900;
}